@media screen and (max-width:1100px)
{
   body
   {
     width:1368px;
      background-color:lightblue;
    }

   #vd
  {
  width:133.6%;
  height:100%; 
  }

#home
{
    width:1024px;
   height:600px;  
}
h1
{
   font-size: 120px;
}

.header
{
  top:0%;
  left:0%;
  height: 110%;
  width: 130%;
}

.box
{
  position:absolute;
  float:right;
  top: 25%;
  width: 38%; 
  height: 290px;
  width: 580px;
  left: 31.5%;
  background-color:rgb(26, 43, 82);
  transform: translateX(40%);
  z-index:200;
  text-align:right;
  font-size: 36px;
  } 
.line
{
   display:none;
}
.bbox
{
  left: 44%;
  
}
.bline
{
  display:none;
}

.sbox
{
  left:-6.5%;
   
}
.container
{
   
   left:-75%;
   top: -8%;
   
}
.navbar {
  top:93%;
  height:9%;
  
}
.navbar a {
  font-size: 20px;
  padding: 10px 15px;
}
#about
{
   width:1368px;
   height:700px;    
}
#contact
{
   
   width:1368px;
  
}
.b
{
  position:absolute;
  top:295%;
  width: 10%;
  height:340px;
  width: 500px;
  left:25%;
}
.con{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 6%;
}
#edu
{
   width:1368px;
}
#skills
{
   width:1368px;
}
#ach
{
   width:1368px;
}

h5
{ 
  top:600%;
   left:47%;
}

.p1
{
  top:650%;
   left:9%;
    FONT-SIZE:19PX;
}

.p2
{
  top:650%;
   left:72%;
  FONT-SIZE:19PX;
}
#myBtn {
  bottom:48px;
  right: 2px;
  width:120px;
  height:40px;
  font-size: 22px;
}
p{
  font-size:27px;
}
li
{
  font-size:19px;
}
}





@media screen and (max-width:800px)
{
   body
   {
     width:100%;
      background-color:lightblue;
      display:block;
    }

   #vd
  {
  width:133.6%;
  height:100%; 
  }

img
{
   position:absolute;
   top: -5%;
   width:400px;
   height:420px;
   left: 2%;
   border: 1px solid rgb(128, 168, 255);
}

.header
{
  top:-5%;
  left:0%;
  height: 180%;
  width: 170%;
  position: absolute;
  overflow-x: hidden;
  padding-top: 0px;
}

#home
{
    width:1024px;
   height:900px;  
}
h1
{
   text-align:center;
   font-size: 180px;
}

.box
{
  display:none;
  } 
.line
{
   display:none;
}
.bbox
{
  left: 10%;
  top: 50%;
  height: 380px;
  width: 420px;
  border-color:black;
}
.bline
{
  display:none;
}
p
{
  font-size:28px;
}
.sbox
{
  left:68%;
  height: 40px;
  width: 280px;
  text-align:left;
  font-size: 25px; 
}
.container
{
   
   left:-25%;
   top: -60%;
   
}
.navbar {
  top:93%;
  height:9%;
  font-size:30px;
  
}

.navbar a {
  font-size: 22px;
  padding: 10px 15px;
}
#about
{
   width:1368px;
   height:630px;    
}
#contact
{
   
   width:1368px;
  
}
.b
{
  position:absolute;
  top:338%;
  width: 10%;
  height:340px;
  width: 500px;
  left:30%;
}
.con{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 6%;
}
#edu
{
   width:1368px;
}
#skills
{
   width:1368px;
}
#ach
{
   width:1368px;
}

h5
{ 
  top:645%;
   left:59%;
}

.p1
{
  top:695%;
   left:12%;
}
li
{
  font-size: 20px;
}
.p2
{
  top:695%;
   left:97%;
}
#myBtn {
  bottom:65px;
  right: 2px;
  width:120px;
  height:40px;
  font-size: 20px;
}

}





@media screen and (max-width:450px)
{
   body
   {
     width:100%;
      background-color:lightblue;
      display:block;
    }

   #vd
  {
  width:133.6%;
  height:100%; 
  }

img
{
   position:absolute;
   top: 0%;
   width:690px;
   height:760px;
   left: 5%;
   border: 1px solid rgb(128, 168, 255);
}

.header
{
  top:-6%;
  left:0%;
  height: 320%;
  width: 300%;
  position: absolute;
  overflow-x: hidden;
  padding-top: 0px;
}

#home
{
    width:1024px;
   height:1700px;  
}
h1
{
   text-align:center;
   font-size: 240px;
   text-shadow:8px 8px rgb(90, 180,235),
		   3px 3px black;
}

.box
{
  display:none;
  } 
.line
{
   display:none;
}
.bbox
{
  left:-2%;
  top: 48%;
  height: 760px;
  width: 780px;
  border-color:skyblue;
  border-width:8px;
}
.bline
{
  display:none;
}
p
{
  font-size:28px;
}
.sbox
{
  top:5%;
  left:58%;
  height: 60px;
  width: 320px;
  text-align:left;
  font-size: 36px; 
}
.container
{
   
   left:-55%;
   top:-12%;
    height: 110px;
   width:110px;
    margin:10;
}
a
{
   font-size:58px;
}
.navbar {
  top:95%;
  height:12%;
  font-size:33px;
  
}

.navbar a {
  font-size: 28px;
  padding: 18px 18px;
}
#about
{
   width:1368px;
   height:1490px;  
   background-image:none;
}
#contact
{
   height:1490px;
   width:1368px;
  
}
.b
{
  position:absolute;
  top:700%;
  width: 10%;
  height:800px;
  width: 900px;
  left:-30%;
}
.con{
  display: none;
}
#edu
{
   background-image:none;
   width:1368px;
   height:1190px;
}
#skills
{
   width:1368px;
   height:800px;
}
#ach
{
   background-image:none;
   background-color:hsla(0,100%, 70%, 0.3);
   height:1190px;
   width:1368px;
}

h5
{ 
  color:darkmagenta;
  font-size:100px;
  top:1293%;
   left:78%;
}

.p1
{
  top:1360%;
   left:12%;
   height:200px;
  width:990px;
}
li
{
  font-size: 20px;
}
.p2
{
  top:1430%;
   left:12%;
   height:200px;
  width:990px;
}
#myBtn {
  bottom:85px;
  right: 2px;
  width:230px;
  height:70px;
  font-size: 40px;
}
h3
{
  font-size:90px;
}
li
{
   font-size:40px;
   font-weight:600px;
}
p
{
   font-size:40px;
}
h6
{
   font-size:40px;
   font-weight:700px;
}
.language
{
      height:40px;
}
      
        .lang 
         {
            font-size: 37px;
        }

.eng
{
   height:40px;
   
}
.hindi
{
   height:40px;
}
.german
{
   height:40px;
   
}
.punj
{
   height:40px;
}

.input{
    height: 670px;
    width: 800px;
    
}
.details{
    padding: 1rem 7 4rem 1rem;
    background-color: lightgrey;
    color: black;
    width: 80%;
    height: auto;
    font-size:36px;
    border: 0;
    text-decoration: none;
    margin-bottom: 1rem;
}
.submitbtn{
    left: -40px;
    width: 280px;
    height:60px;
    margin-bottom: 1rem;
    font-size:32px;
}


.circle-wrap
{   
   margin-top:-200px;
     margin-left:-50px;
   width:150px;
   height:150px;
   background-color:white;
   border-radius:50%;
}
.circle-wrap .inside-circle {
  
  font-size: 1.6em;
  font-family:cursive;
}
h7
{
  font-size:90px;
}
.bn
{
  padding: 7px 7px;
  height: 43px;
  width:298px;
  color:black;
  left:-1100px;
  top:495px;
  font-size:30px;
  font-weight:620;
  
}
}
