@media screen and (max-width:1280px)
{
.b
{
top:170%;
}
.container
{
   top: -8%;
   
}
#skills
{
height:200px;
}
.circle-wrap
{   
   margin-top:-240px;
}
.bn
{
top:430px;
height: 30px;
  width:205px;
  left:-1060px;
  font-size:24px;
}
h5
{ 
  top:415%;
   left:37%;
}

.p1
{
  top:450%;
   left:9%;
    FONT-SIZE:19PX;
}

.p2
{
  top:450%;
   left:58%;
  FONT-SIZE:19PX;
}

}




@media screen and (max-width:1100px)
{
   body
   {
     width:1368px;
      background-color:lightblue;
    }

   #vd
  {
  width:133.6%;
  height:100%; 
  }

#home
{
    width:1024px;
   height:600px;  
}
h1
{
   font-size: 120px;
}

.header
{
  top:0%;
  left:0%;
  height: 110%;
  width: 130%;
}

.box
{
  position:absolute;
  float:right;
  top: 25%;
  width: 38%; 
  height: 290px;
  width: 580px;
  left: 31.5%;
  background-color:rgb(26, 43, 82);
  transform: translateX(40%);
  z-index:200;
  text-align:right;
  font-size: 36px;
  } 
.line
{
   display:none;
}
.bbox
{
  left: 44%;
  
}
.bline
{
  display:none;
}

.sbox
{
  left:-6.5%;
   
}
.container
{
   
   left:-75%;
   top: -8%;
   
}
.navbar {
  top:93%;
  height:9%;
  
}
.navbar a {
  font-size: 20px;
  padding: 10px 15px;
}
#about
{
   width:1368px;
   height:620px;    
}
#contact
{
   
   width:1368px;
  
}
.b
{
  position:absolute;
  top:248%;
  width: 10%;
  height:340px;
  width: 500px;
  left:25%;
}
.con{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 6%;
}
#edu
{
   width:1368px;
}
#skills
{
   width:1368px;
}
#ach
{
   width:1368px;
}

h5
{ 
  top:515%;
   left:47%;
}

.p1
{
  top:560%;
   left:9%;
    FONT-SIZE:19PX;
}

.p2
{
  top:560%;
   left:72%;
  FONT-SIZE:19PX;
}
#myBtn {
  bottom:48px;
  right: 1px;
  width:120px;
  height:40px;
  font-size: 22px;
}
p{
  font-size:27px;
}
li
{
  font-size:20px;
}
}





@media screen and (max-width:800px)
{
   body
   {
     width:100%;
      background-color:lightblue;
      display:block;
    }

   #vd
  {
  width:133.6%;
  height:100%; 
  }

img
{
   position:absolute;
   top: -5%;
   width:400px;
   height:420px;
   left: 2%;
   border: 1px solid rgb(128, 168, 255);
}

.header
{
  top:-5%;
  left:0%;
  height: 180%;
  width: 170%;
  position: absolute;
  overflow-x: hidden;
  padding-top: 0px;
}

#home
{
    width:1024px;
   height:955px;  
}
h1
{
   text-align:center;
   font-size: 180px;
}

.box
{
  display:none;
  } 
.line
{
   display:none;
}
.bbox
{
  left: 10%;
  top: 50%;
  height: 380px;
  width: 420px;
  border-color:black;
}
.bline
{
  display:none;
}
p
{
  font-size:28px;
}
.sbox
{
  left:68%;
  height: 50px;
  width: 280px;
  text-align:left;
  font-size: 30px; 
}
.container
{
   
   left:-25%;
   top: -56%;
   height:70px;
   width:70px;
   
}
a
{
   font-size:42px;
   margin:10;
}
.navbar {
  top:93%;
  height:9%;
  font-size:27px;
  
}

.navbar a {
  font-size: 24px;
  padding: 10px 20px;
}
#about
{
   width:1368px;
   height:700px;    
}
#contact
{
   
   width:1368px;
  
}
.b
{
  position:absolute;
  top:310%;
  width: 10%;
  height:390px;
  width: 550px;
  left:25%;
}
.input{
    height: 300px;
    width: 800px;  
}
.details{
    padding: 1.5rem 1 1rem 3rem;
    font-size:21px;
    margin-top: 0.9rem;
    margin-right:240px;
}
.submitbtn{
    left: 0px;
    width: 130px;
    height:42px;
    margin-top: 1.5rem;
    font-size:23px;
}
.circle-wrap
{   
   margin-top:-150px;
     margin-left:-120px;
   width:150px;
   height:150px;
   background-color:white;
   border-radius:50%;
}

.con{
  display: none;
}
#edu
{
   margin-top:20px;
    background-image:none;
   width:1368px;
   height:550px;
}
#skills
{
   width:1368px;
}
#ach
{
    background-image:none;
   width:1368px;
   height:650px;
}

h5
{ 
  top:592%;
   left:59%;
   color:darkblue;
   font-size:55px;
}

.p1
{
  top:625%;
   left:12%;
   height:300px;
  width:1050px;
}
li
{
  font-size: 28px;
}
.p2
{
  top:660%;
   left:12%;
   height:300px;
  width:1050px;
}
#myBtn {
  bottom:70px;
  right: 1px;
  width:120px;
  height:43px;
  font-size: 30px;
}
h3
{
font-size:45px;
}
.language
{
      width: 75%;
      height:24px;
      margin-top:-35px;
      margin-bottom:45px;
}
      
        .lang 
         {
            font-size: 22px;
        }

.eng
{
   width:90%;
   height:24px;
   
}
.hindi
{
   width:95%;
   height:24px;
}
.german
{
   width:60%;
   height:24px;
   
}
.punj
{
   width:90%;
   height:24px;
}
h6
{
font-size:22px;
}
.bn
{
  padding: 7px 7px;
  height: 28px;
  width:195px;
  left:-1100px;
  top:430px;
  font-size:24px;
}

}




@media screen and (max-width:712px)
{
.sbox
{
  margin-top:-45px;
}
.bbox
{
top: 27%;
}
.container
{
   
   left:-25%;
   top:-27%;
    height: 80px;
   width:80px;
    margin:10;
}
a
{
   font-size:53px;
}
.details{
    padding: 1rem 7 1rem 1rem;
    background-color: lightgrey;
    color: black;
    width: 80%;
    height: auto;
    font-size:30px;
    border: 0;
    text-decoration: none;
    margin-top: 2rem;
    margin-left:13rem;
}
.submitbtn{
    left: -40px;
    width: 270px;
    height:60px;
    margin-top: 2rem;
    font-size:30px;
}
.input{
    height: 550px;
    width: 760px;
}

.circle-wrap
{   
   margin-top:-200px;
     margin-left:-120px;
   width:150px;
   height:150px;
   background-color:white;
   border-radius:50%;
}
.b
{
  position:absolute;
  top:165%;
  width: 10%;
  height:700px;
  width: 800px;
  left:-15%;
}
p
{
font-size:29px;
}
li
{
font-size:29px;
}
h3
{
font-size:48px;
}
.bn
{
  padding: 7px 7px;
  height: 43px;
  width:278px;
  color:black;
  left:-1080px;
  top:635px;
  font-size:30px;
  font-weight:620;
  
}
h5
{ 
  color:darkblue;
  font-size:75px;
  top:390%;
   left:60%;
}

.p1
{
  top:415%;
   left:12%;
   height:180px;
  width:1130px;
}
.p2
{
  top:435%;
   left:12%;
   height:200px;
  width:1130px;
}
#ach
{
height:1900px;
}
}


@media screen and (max-width:600px)
{
img
{
   position:absolute;
   top: -5%;
   width:400px;
   height:420px;
   left: 2%;
   border: 1px solid rgb(128, 168, 255);
}

.header
{
  top:-5%;
  left:0%;
  height: 180%;
  width: 210%;
  position: absolute;
  overflow-x: hidden;
  padding-top: 0px;
}
.bbox
{
  left: 10%;
  top: 30%;
  height: 380px;
  width: 420px;
  border-color:black;
}
.bline
{
  display:none;
}
p
{
  font-size:28px;
}
.sbox
{
  margin-top:-25px;
}
h1
{
font-size:200px;
}
.container
{
   
   left:-25%;
   top:-33%;
    height: 80px;
   width:80px;
    margin:10;
}
a
{
   font-size:53px;
}
h3
{
font-size:50px;
}
.language
{
      width: 75%;
      height:24px;
      margin-top:-35px;
      margin-bottom:45px;
}
      
        .lang 
         {
            font-size: 22px;
        }

.eng
{
   width:90%;
   height:24px;
   
}
.hindi
{
   width:95%;
   height:24px;
}
.german
{
   width:60%;
   height:24px;
   
}
.punj
{
   width:90%;
   height:24px;
}
#about
{
   height:770px;    
}

p
{
font-size:32px;
}
.details{
    padding: 1rem 7 2rem 1rem;
    background-color: lightgrey;
    color: black;
    width: 80%;
    height: auto;
    font-size:36px;
    border: 0;
    text-decoration: none;
    margin-top: 2rem;
    margin-left:13rem;
}
.submitbtn{
    left: -40px;
    width: 270px;
    height:60px;
    margin-top: 2rem;
    font-size:35px;
}
.input{
    height: 550px;
    width: 760px;
}

.circle-wrap
{   
   margin-top:-200px;
     margin-left:-120px;
   width:150px;
   height:150px;
   background-color:white;
   border-radius:50%;
}
.b
{
  position:absolute;
  top:185%;
  width: 10%;
  height:700px;
  width: 800px;
  left:-15%;
}
li
{
font-size:32px;
}
#edu
{
height:600px;
}
.bn
{
  padding: 7px 7px;
  height: 43px;
  width:278px;
  color:black;
  left:-1080px;
  top:585px;
  font-size:30px;
  font-weight:620;
  
}
h5
{ 
  color:darkblue;
  font-size:75px;
  top:430%;
   left:65%;
}

.p1
{
  top:460%;
   left:12%;
   height:180px;
  width:1130px;
}
.p2
{
  top:485%;
   left:12%;
   height:200px;
  width:1130px;
}
#ach
{
height:1900px;
}
}



@media screen and (max-width:450px)
{
   body
   {
     width:100%;
      background-color:lightblue;
      display:block;
    }

   #vd
  {
  width:133.6%;
  height:100%; 
  }

img
{
   position:absolute;
   top: 0%;
   width:690px;
   height:760px;
   left: 5%;
   border: 1px solid rgb(128, 168, 255);
}

.header
{
  top:-6%;
  left:0%;
  height: 320%;
  width: 300%;
  position: absolute;
  overflow-x: hidden;
  padding-top: 0px;
}

#home
{
    width:1024px;
   height:1700px;  
}
h1
{
   text-align:center;
   font-size: 240px;
   text-shadow:8px 8px rgb(90, 180,235),
		   3px 3px black;
}

.box
{
  display:none;
  } 
.line
{
   display:none;
}
.bbox
{
  left:-2%;
  top: 48%;
  height: 760px;
  width: 780px;
  border-color:skyblue;
  border-width:8px;
}
.bline
{
  display:none;
}
p
{
  font-size:45px;
}
.sbox
{
  top:5%;
  left:58%;
  height: 60px;
  width: 320px;
  text-align:left;
  font-size: 36px; 
}
.container
{
   
   left:-55%;
   top:-11%;
    height: 110px;
   width:110px;
    margin:10;
}
a
{
   font-size:64px;
}
.navbar {
  top:95%;
  height:14%;
  font-size:33px;
  
}

.navbar a {
  font-size: 34px;
  padding: 18px 18px;
}
#about
{
   width:1368px;
   height:1490px;  
   background-image:none;
}
#contact
{
   height:1420px;
   width:1368px;
  
}
.b
{
  position:absolute;
  top:630%;
  width: 10%;
  height:880px;
  width: 1000px;
  left:-45%;
}
.con{
  display: none;
}
#edu
{
   background-image:none;
   width:1368px;
   height:1190px;
}
#skills
{
   width:1368px;
   height:800px;
}
#ach
{
   background-image:none;
   height:1600px;
   width:1368px;
}

h5
{ 
  color:darkblue;
  font-size:100px;
  top:1190%;
   left:78%;
}

.p1
{
  top:1260%;
   left:12%;
   height:180px;
  width:1130px;
}
li
{
  font-size: 20px;
}
.p2
{
  top:1360%;
   left:12%;
   height:200px;
  width:1130px;
}
#myBtn {
  bottom:85px;
  right: 2px;
  width:230px;
  height:70px;
  font-size: 50px;
}
h3
{
  font-size:100px;
}
li
{
   font-size:50px;
   font-weight:600px;
}
p
{
   font-size:55px;
}
h6
{
   font-size:45px;
   font-weight:700px;
}
.language
{
      height:40px;
      width: 85%;
      margin-top:-25px;
      margin-bottom:65px;
}
      
        .lang 
         {
            font-size: 37px;
        }

.eng
{
   height:40px;
   
}
.hindi
{
   height:40px;
}
.german
{
   height:40px;
   
}
.punj
{
   height:40px;
}

.input{
    height: 670px;
    width: 850px;
    margin-left:170px;
}
.details{
    padding: 1rem 7 4rem 1rem;
    background-color: lightgrey;
    color: black;
    width: 80%;
    height: auto;
    font-size:36px;
    border: 0;
    text-decoration: none;
    margin-top: 2rem;
    margin-left:30px;
}
.submitbtn{
    left: -40px;
    width: 320px;
    height:90px;
    margin-top: 3rem;
    font-size:40px;
}


.circle-wrap
{   
   margin-top:-200px;
     margin-left:-200px;
   width:150px;
   height:150px;
   background-color:white;
   border-radius:50%;
}
.circle-wrap .inside-circle {
  
  font-size: 1.6em;
  font-family:cursive;
}
h7
{
  font-size:90px;
}
.bn
{
  padding: 7px 7px;
  height: 65px;
  width:298px;
  color:black;
  left:-1100px;
  top:495px;
  font-size:35px;
  font-weight:620;
  
}
}



@media screen and (max-width:414px)
{
   body
   {
     width:100%;
      background-color:lightblue;
      display:block;
    }

   #vd
  {
  width:133.6%;
  height:100%; 
  }

img
{
   position:absolute;
   top: 0%;
   width:690px;
   height:760px;
   left: 5%;
   border: 1px solid rgb(128, 168, 255);
}

.header
{
  top:-6%;
  left:0%;
  height: 320%;
  width: 310%;
  position: absolute;
  overflow-x: hidden;
  padding-top: 0px;
}

#home
{
    width:1024px;
   height:1700px;  
}
h1
{
   text-align:center;
   font-size: 240px;
   text-shadow:8px 8px rgb(90, 180,235),
		   3px 3px black;
}

.box
{
  display:none;
  } 
.line
{
   display:none;
}
.bbox
{
  left:-2%;
  top: 36%;
  height: 760px;
  width: 780px;
  border-color:skyblue;
  border-width:8px;
}
.bline
{
  display:none;
}
p
{
  font-size:45px;
}
.sbox
{
  top:5%;
  left:58%;
  height: 60px;
  width: 320px;
  text-align:left;
  font-size: 36px; 
}
.container
{
   
   left:-55%;
   top:-6%;
    height: 110px;
   width:110px;
    margin:10;
}
a
{
   font-size:64px;
}
.navbar {
  top:95%;
  height:14%;
  font-size:33px;
  
}

.navbar a {
  font-size: 34px;
  padding: 18px 18px;
}
#about
{
   width:1368px;
   height:1490px;  
   background-image:none;
}
#contact
{
   height:1420px;
   width:1368px;
  
}
.b
{
  position:absolute;
  top:490%;
  width: 10%;
  height:880px;
  width: 1000px;
  left:-45%;
}
.con{
  display: none;
}
#edu
{
   background-image:none;
   width:1368px;
   height:1190px;
}
#skills
{
   width:1368px;
   height:800px;
}
#ach
{
   background-image:none;
   height:2700px;
   width:1368px;
}

h5
{ 
  color:darkblue;
  font-size:100px;
  top:910%;
   left:78%;
}

.p1
{
  top:955%;
   left:12%;
   height:10px;
  width:1230px;
}
li
{
  font-size: 20px;
}
.p2
{
  top:1012%;
   left:12%;
   height:200px;
  width:1130px;
}
#myBtn {
  bottom:85px;
  right: 2px;
  width:230px;
  height:70px;
  font-size: 50px;
}
h3
{
  font-size:100px;
}
li
{
   font-size:50px;
   font-weight:600px;
}
p
{
   font-size:55px;
}
h6
{
   font-size:45px;
   font-weight:700px;
}
.language
{
      height:40px;
      width: 85%;
      margin-top:-25px;
      margin-bottom:65px;
}
      
        .lang 
         {
            font-size: 37px;
        }

.eng
{
   height:40px;
   
}
.hindi
{
   height:40px;
}
.german
{
   height:40px;
   
}
.punj
{
   height:40px;
}

.input{
    height: 670px;
    width: 850px;
    margin-left:100px;
}
.details{
    padding: 1rem 7 4rem 1rem;
    background-color: lightgrey;
    color: black;
    width: 80%;
    height: auto;
    font-size:40px;
    border: 0;
    text-decoration: none;
    margin-top: 2rem;
}
.submitbtn{
    left: -40px;
    width: 320px;
    height:90px;
    margin-top: 3rem;
    font-size:40px;
}


.circle-wrap
{   
   margin-top:-200px;
     margin-left:-200px;
   width:150px;
   height:150px;
   background-color:white;
   border-radius:50%;
}
.circle-wrap .inside-circle {
  
  font-size: 1.6em;
  font-family:cursive;
}
h7
{
  font-size:90px;
}
.bn
{
  padding: 7px 7px;
  height: 43px;
  width:298px;
  color:black;
  left:-1100px;
  top:525px;
  font-size:30px;
  font-weight:620;
  
}
}

@media screen and (max-width:412px)
{
.bbox
{
  top: 29%;
}
.input{
    height: 670px;
    width: 850px;
    margin-left:170px;
}
.details{
    padding: 1rem 7 4rem 1rem;
    background-color: lightgrey;
    color: black;
    width: 80%;
    height: auto;
    font-size:40px;
    border: 0;
    text-decoration: none;
    margin-top: 2rem;
}
.submitbtn{
    left: -40px;
    width: 320px;
    height:90px;
    margin-top: 3rem;
    font-size:40px;
}
.b
{
  position:absolute;
  top:395%;
  width: 10%;
  height:880px;
  width: 1000px;
  left:-50%;
}
.bn
{
  padding: 7px 7px;
  height: 48px;
  width:390px;
  color:black;
  left:-1000px;
  top:530px;
  font-size:38px;
  font-weight:620;
  
}
h5
{ 
  color:darkblue;
  font-size:100px;
  top:748%;
   left:78%;
}

.p1
{
  top:788%;
   left:12%;
   height:180px;
  width:1130px;
}
.p2
{
  top:842%;
   left:12%;
   height:200px;
  width:1130px;
}
}




@media screen and (max-width:393px)
{
   body
   {
     width:100%;
      background-color:lightblue;
      display:block;
    }

   #vd
  {
  width:133.6%;
  height:100%; 
  }

img
{
   position:absolute;
   top: 0%;
   width:690px;
   height:760px;
   left: 5%;
   border: 1px solid rgb(128, 168, 255);
}

.header
{
  top:-6%;
  left:0%;
  height: 320%;
  width: 300%;
  position: absolute;
  overflow-x: hidden;
  padding-top: 0px;
}

#home
{
    width:1024px;
   height:2100px;  
}
h1
{
   text-align:center;
   font-size: 240px;
   text-shadow:8px 8px rgb(90, 180,235),
		   3px 3px black;
}

.box
{
  display:none;
  } 
.line
{
   display:none;
}
.bbox
{
  left:-2%;
  top: 48%;
  height: 760px;
  width: 780px;
  border-color:skyblue;
  border-width:8px;
}
.bline
{
  display:none;
}
p
{
  font-size:45px;
}
.sbox
{
  top:3%;
  left:55%;
  height: 70px;
  width: 350px;
  text-align:left;
  font-size: 40px; 
}
.container
{
   
   left:-20%;
   top:2%;
    height: 110px;
   width:110px;
    margin:10;
}
a
{
   font-size:64px;
}
.navbar {
  top:95%;
  height:14%;
  font-size:33px;
  
}

.navbar a {
  font-size: 34px;
  padding: 18px 18px;
}
#about
{
   width:1368px;
   height:1490px;  
   background-image:none;
}
#contact
{
   height:1420px;
   width:1368px;
  
}
.b
{
  position:absolute;
  top:470%;
  width: 10%;
  height:880px;
  width: 1000px;
  left:-50%;
}
.con{
  display: none;
}
#edu
{
   background-image:none;
   width:1368px;
   height:1190px;
}
#skills
{
   width:1368px;
   height:800px;
}
#ach
{
   background-image:none;
   height:2300px;
   width:1368px;
}

h5
{ 
  color:darkblue;
  font-size:100px;
  top:850%;
   left:78%;
}

.p1
{
  top:900%;
   left:12%;
   height:180px;
  width:1130px;
}
li
{
  font-size: 20px;
}
.p2
{
  top:960%;
   left:12%;
   height:200px;
  width:1130px;
}
#myBtn {
  bottom:85px;
  right: 2px;
  width:230px;
  height:70px;
  font-size: 50px;
}
h3
{
  font-size:100px;
}
li
{
   font-size:50px;
   font-weight:600px;
}
p
{
   font-size:55px;
}
h6
{
   font-size:45px;
   font-weight:700px;
}
.language
{
      height:40px;
      width: 85%;
      margin-top:-25px;
      margin-bottom:65px;
}
      
        .lang 
         {
            font-size: 37px;
        }

.eng
{
   height:40px;
   
}
.hindi
{
   height:40px;
}
.german
{
   height:40px;
   
}
.punj
{
   height:40px;
}

.input{
    height: 670px;
    width: 850px;
    margin-left:170px;
}
.details{
    padding: 1rem 7 4rem 1rem;
    background-color: lightgrey;
    color: black;
    width: 80%;
    height: auto;
    font-size:36px;
    border: 0;
    text-decoration: none;
    margin-top: 2rem;
}
.submitbtn{
    left: -40px;
    width: 320px;
    height:90px;
    margin-top: 3rem;
    font-size:40px;
}


.circle-wrap
{   
   margin-top:-200px;
     margin-left:-200px;
   width:150px;
   height:150px;
   background-color:white;
   border-radius:50%;
}
.circle-wrap .inside-circle {
  
  font-size: 1.6em;
  font-family:cursive;
}
h7
{
  font-size:90px;
}
.bn
{
  padding: 7px 7px;
  height: 43px;
  width:298px;
  color:black;
  left:-1100px;
  top:495px;
  font-size:30px;
  font-weight:620;
  
}
}




@media screen and (max-width:390px)
{
   body
   {
     width:100%;
      background-color:lightblue;
      display:block;
    }

   #vd
  {
  width:133.6%;
  height:100%; 
  }

img
{
   position:absolute;
   top: 0%;
   width:690px;
   height:760px;
   left: 5%;
   border: 1px solid rgb(128, 168, 255);
}

.header
{
  top:-6%;
  left:0%;
  height: 320%;
  width: 300%;
  position: absolute;
  overflow-x: hidden;
  padding-top: 0px;
}

#home
{
    width:1024px;
   height:2100px;  
}
h1
{
   text-align:center;
   font-size: 240px;
   text-shadow:8px 8px rgb(90, 180,235),
		   3px 3px black;
}

.box
{
  display:none;
  } 
.line
{
   display:none;
}
.bbox
{
  left:-2%;
  top: 48%;
  height: 760px;
  width: 780px;
  border-color:skyblue;
  border-width:8px;
}
.bline
{
  display:none;
}
p
{
  font-size:45px;
}
.sbox
{
  top:3%;
  left:55%;
  height: 70px;
  width: 350px;
  text-align:left;
  font-size: 40px; 
}
.container
{
   
   left:-20%;
   top:2%;
    height: 110px;
   width:110px;
    margin:10;
}
a
{
   font-size:64px;
}
.navbar {
  top:95%;
  height:14%;
  font-size:33px;
  
}

.navbar a {
  font-size: 34px;
  padding: 18px 18px;
}
#about
{
   width:1368px;
   height:1490px;  
   background-image:none;
}
#contact
{
   height:1420px;
   width:1368px;
  
}
.b
{
  position:absolute;
  top:470%;
  width: 10%;
  height:880px;
  width: 1000px;
  left:-50%;
}
.con{
  display: none;
}
#edu
{
   background-image:none;
   width:1368px;
   height:1190px;
}
#skills
{
   width:1368px;
   height:800px;
}
#ach
{
   background-image:none;
   height:2300px;
   width:1368px;
}

h5
{ 
  color:darkblue;
  font-size:100px;
  top:850%;
   left:78%;
}

.p1
{
  top:900%;
   left:12%;
   height:180px;
  width:1130px;
}
li
{
  font-size: 20px;
}
.p2
{
  top:960%;
   left:12%;
   height:200px;
  width:1130px;
}
#myBtn {
  bottom:85px;
  right: 2px;
  width:230px;
  height:70px;
  font-size: 50px;
}
h3
{
  font-size:100px;
}
li
{
   font-size:50px;
   font-weight:600px;
}
p
{
   font-size:55px;
}
h6
{
   font-size:45px;
   font-weight:700px;
}
.language
{
      height:40px;
      width: 85%;
      margin-top:-25px;
      margin-bottom:65px;
}
      
        .lang 
         {
            font-size: 37px;
        }

.eng
{
   height:40px;
   
}
.hindi
{
   height:40px;
}
.german
{
   height:40px;
   
}
.punj
{
   height:40px;
}

.input{
    height: 670px;
    width: 850px;
    margin-left:170px;
}
.details{
    padding: 1rem 7 4rem 1rem;
    background-color: lightgrey;
    color: black;
    width: 80%;
    height: auto;
    font-size:36px;
    border: 0;
    text-decoration: none;
    margin-top: 2rem;
}
.submitbtn{
    left: -40px;
    width: 320px;
    height:90px;
    margin-top: 3rem;
    font-size:40px;
}


.circle-wrap
{   
   margin-top:-200px;
     margin-left:-200px;
   width:150px;
   height:150px;
   background-color:white;
   border-radius:50%;
}
.circle-wrap .inside-circle {
  
  font-size: 1.6em;
  font-family:cursive;
}
h7
{
  font-size:90px;
}
.bn
{
  padding: 7px 7px;
  height: 43px;
  width:298px;
  color:black;
  left:-1100px;
  top:495px;
  font-size:30px;
  font-weight:620;
  
}
}




@media screen and (max-width:375px)
{
   body
   {
     width:100%;
      background-color:lightblue;
      display:block;
    }

   #vd
  {
  width:133.6%;
  height:100%; 
  }

img
{
   position:absolute;
   top: 0%;
   width:690px;
   height:760px;
   left: 5%;
   border: 1px solid rgb(128, 168, 255);
}

.header
{
  top:-15%;
  left:0%;
  height: 420%;
  width: 340%;
  position: absolute;
  overflow-x: hidden;
  padding-top: 0px;
}

#home
{
    width:1024px;
   height:2020px;  
}
h1
{
   text-align:center;
   font-size: 250px;
   text-shadow:10px 10px rgb(90, 180,235),
		   3px 3px black;
}

.box
{
  display:none;
  } 
.line
{
   display:none;
}
.bbox
{
  left:-2%;
  top: 48%;
  height: 760px;
  width: 780px;
  border-color:skyblue;
  border-width:8px;
}
.bline
{
  display:none;
}
p
{
  font-size:28px;
}
.sbox
{
  top:5%;
  left:55%;
  height: 70px;
  width: 410px;
  text-align:left;
  font-size: 45px; 
}
.container
{
   
   left:-25%;
   top:33%;
    height: 110px;
   width:110px;
    margin:10;
}
a
{
   font-size:58px;
}
.navbar {
  top:95%;
  height:23%;
  font-size:33px;
  
}

.navbar a {
  font-size: 39px;
  padding: 18px 18px;
}
#about
{
   width:1368px;
   height:1580px;  
   background-image:none;
}
#contact
{
   height:1400px;
   width:1368px;
  
}
.b
{
  position:absolute;
  top:710%;
  width: 10%;
  height:840px;
  width: 920px;
  left:-35%;
}
.con{
  display: none;
}
#edu
{
   background-image:none;
   width:1368px;
   height:1350px;
}
#skills
{
   width:1368px;
   height:800px;
}
#ach
{
   background-image:none;
   height:1700px;
   width:1368px;
}

h5
{ 
  color:darkblue;
  font-size:110px;
  top:1283%;
   left:78%;
}

.p1
{
  top:1350%;
   left:12%;
   height:200px;
  width:1200px;
}
li
{
  font-size: 20px;
}
.p2
{
  top:1450%;
   left:12%;
   height:200px;
  width:1200px;
}
#myBtn {
  bottom:105px;
  right: 2px;
  width:230px;
  height:80px;
  font-size: 50px;
}
h3
{
  font-size:110px;
}
li
{
   font-size:55px;
   font-weight:600px;
}
p
{
   font-size:57px;
}
h6
{
   font-size:45px;
   font-weight:700px;
}
.language
{
      height:55px;
      width: 85%;
}
      
        .lang 
         {
            font-size: 48px;
        }

.eng
{
   height:55px;
   
}
.hindi
{
   height:55px;
}
.german
{
   height:55px;
   
}
.punj
{
   height:55px;
}

.input{
    height: 670px;
    width: 800px;
    
}
.details{
    padding: 1rem 7 4rem 1rem;
    background-color: lightgrey;
    color: black;
    width: 80%;
    height: auto;
    font-size:40px;
    border: 0;
    text-decoration: none;
    margin-bottom: 1rem;
    margin-left:30px;
}
.submitbtn{
    left: -20px;
    width: 280px;
    height:80px;
    margin-bottom: 1rem;
    font-size:42px;
}


.circle-wrap
{   
   margin-top:-200px;
     margin-left:-200px;
   width:150px;
   height:150px;
   background-color:white;
   border-radius:50%;
}

h7
{
  font-size:90px;
}
.bn
{
  padding: 7px 7px;
  height: 57px;
  width:450px;
  color:black;
  left:-1000px;
  top:495px;
  font-size:41px;
  font-weight:620;
  
}
}




@media screen and (max-width:360px)
{
   body
   {
     width:100%;
      background-color:lightblue;
      display:block;
    }

   #vd
  {
  width:133.6%;
  height:100%; 
  }

img
{
   position:absolute;
   top: 0%;
   width:690px;
   height:760px;
   left: 5%;
   border: 1px solid rgb(128, 168, 255);
}

.header
{
  top:-15%;
  left:0%;
  height: 420%;
  width: 340%;
  position: absolute;
  overflow-x: hidden;
  padding-top: 0px;
}

#home
{
    width:1024px;
   height:2030px;  
}
h1
{
   text-align:center;
   font-size: 250px;
   text-shadow:10px 10px rgb(90, 180,235),
		   3px 3px black;
}

.box
{
  display:none;
  } 
.line
{
   display:none;
}
.bbox
{
  left:-2%;
  top: 38%;
  height: 760px;
  width: 780px;
  border-color:skyblue;
  border-width:8px;
}
.bline
{
  display:none;
}
p
{
  font-size:28px;
}
.sbox
{
  top:5%;
  left:50%;
  height: 70px;
  width: 410px;
  text-align:left;
  font-size: 45px; 
}
.container
{
   
   left:-25%;
   top:27%;
    height: 110px;
   width:110px;
    margin:10;
}
a
{
   font-size:58px;
}
.navbar {
  top:95%;
  height:23%;
  font-size:33px;
  
}

.navbar a {
  font-size: 39px;
  padding: 18px 18px;
}
#about
{
   width:1368px;
   height:1580px;  
   background-image:none;
}
#contact
{
   height:1400px;
   width:1368px;
  
}
.b
{
  position:absolute;
  top:550%;
  width: 10%;
  height:840px;
  width: 920px;
  left:-35%;
}
.con{
  display: none;
}
#edu
{
   background-image:none;
   width:1368px;
   height:1350px;
}
#skills
{
   width:1368px;
   height:800px;
}
#ach
{
   background-image:none;
   height:2100px;
   width:1368px;
}

h5
{ 
  color:darkblue;
  font-size:110px;
  top:985%;
   left:78%;
}

.p1
{
  top:1040%;
   left:12%;
   height:200px;
  width:1200px;
}
li
{
  font-size: 20px;
}
.p2
{
  top:1120%;
   left:12%;
   height:200px;
  width:1200px;
}
#myBtn {
  bottom:105px;
  right: 2px;
  width:230px;
  height:80px;
  font-size: 50px;
}
h3
{
  font-size:110px;
}
li
{
   font-size:55px;
   font-weight:600px;
}
p
{
   font-size:57px;
}
h6
{
   font-size:45px;
   font-weight:700px;
}
.language
{
      height:55px;
      width: 85%;
}
      
        .lang 
         {
            font-size: 48px;
        }

.eng
{
   height:55px;
   
}
.hindi
{
   height:55px;
}
.german
{
   height:55px;
   
}
.punj
{
   height:55px;
}

.input{
    height: 670px;
    width: 800px;
    
}
.details{
    padding: 1rem 7 4rem 1rem;
    background-color: lightgrey;
    color: black;
    width: 80%;
    height: auto;
    font-size:40px;
    border: 0;
    text-decoration: none;
    margin-bottom: 1rem;
}
.submitbtn{
    left: -20px;
    width: 280px;
    height:80px;
    margin-bottom: 1rem;
    font-size:42px;
}


.circle-wrap
{   
   margin-top:-200px;
     margin-left:-200px;
   width:150px;
   height:150px;
   background-color:white;
   border-radius:50%;
}

h7
{
  font-size:90px;
}
.bn
{
  padding: 7px 7px;
  height: 57px;
  width:450px;
  color:black;
  left:-1000px;
  top:495px;
  font-size:41px;
  font-weight:620;
  
}
}




@media screen and (max-width:320px)
{
   body
   {
     width:100%;
      background-color:lightblue;
      display:block;
    }

   #vd
  {
  width:133.6%;
  height:100%; 
  }

img
{
   position:absolute;
   top: 2%;
   width:690px;
   height:760px;
   left: -2%;
   border: 1px solid rgb(128, 168, 255);
}

.header
{
  top:-6%;
  left:0%;
  height: 420%;
  width: 300%;
  position: absolute;
  overflow-x: hidden;
  padding-top: 0px;
}

#home
{
    width:954px;
   height:2120px;  
}
h1
{
   text-align:center;
   font-size: 250px;
   text-shadow:10px 10px rgb(90, 180,235),
		   2px 2px black;
   margin-top:100px;
}

.box
{
  display:none;
  } 
.line
{
   display:none;
}
.bbox
{
  left:-4%;
  top: 48%;
  height: 760px;
  width: 800px;
  border-color:skyblue;
  border-width:0px;
}
.bline
{
  display:none;
}
p
{
  font-size:28px;
}
.sbox
{
  top:45%;
  left:25%;
  height: 70px;
  width: 420px;
  text-align:left;
  font-size: 45px;
}
.container
{
   
   left:-6%;
   top:38%;
    height: 120px;
   width:120px;
    margin:10;
}
a
{
   font-size:77px;
}
.navbar {
  top:95%;
  height:12%;
  font-size:33px;
  
}

.navbar a {
  font-size: 38px;
  padding: 10px 10px;
}
#about
{
   width:1268px;
   height:1590px;  
   background-image:none;
}
#contact
{
   height:1490px;
   width:1268px;
  
}
.b
{
  position:absolute;
  top:730%;
  width: 10%;
  height:850px;
  width: 900px;
  left:-50%;
}
.con{
  display: none;
}
#edu
{
   background-image:none;
   width:1268px;
   height:1300px;
}
#skills
{
   width:1268px;
   height:800px;
}
#ach
{
   background-image:none;
   height:1620px;
   width:1268px;
}

h5
{ 
  color:darkblue;
  font-size:110px;
  top:1313%;
   left:78%;
}

.p1
{
  top:1390%;
   left:12%;
   height:200px;
  width:1090px;
}
li
{
  font-size: 20px;
}
.p2
{
  top:1490%;
   left:12%;
   height:200px;
  width:1090px;
}
#myBtn {
  bottom:115px;
  right: 2px;
  width:230px;
  height:80px;
  font-size: 55px;
}
h3
{
  font-size:110px;
}
li
{
   font-size:52px;
   font-weight:600px;
}
p
{
   font-size:52px;
}
h6
{
   font-size:49px;
   font-weight:700px;
}
.language
{
      height:55px;
      margin-bottom:5rem;
}
      
        .lang 
         {
            font-size: 45px;
        }

.eng
{
   height:55px;
   
}
.hindi
{
   height:55px;
}
.german
{
   height:55px;
   
}
.punj
{
   height:55px;
}

.input{
    height: 670px;
    width: 800px;
    
}
.details{
    padding: 1rem 7 3rem 1rem;
    background-color: lightgrey;
    color: black;
    width: 80%;
    height: auto;
    font-size:46px;
    border: 0;
    text-decoration: none;
    margin-bottom: 1rem;
    margin-left:30px;
}
.submitbtn{
    left: -20px;
    width: 280px;
    height:80px;
    margin-bottom: 2rem;
    font-size:40px;
}


.circle-wrap
{   
   margin-top:-200px;
     margin-left:-200px;
   width:150px;
   height:150px;
   background-color:white;
   border-radius:50%;
}
.circle-wrap .inside-circle {
  
  font-size: 1.8em;
  font-family:cursive;
}
h7
{
  font-size:90px;
}
.bn
{
  padding: 3px 3px;
  height: 63px;
  width:478px;
  color:black;
  left:-900px;
  top:495px;
  font-size:41px;
  font-weight:620;
  
}
}



