body
{
  margin:0px;
  background-color:rgb(230, 230, 255);
}
.header
{
  top:-1%;
  left:0%;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow-x: hidden;
  padding-top: 0px;
}

h2
{
   font-size:21px;
   font-family:"Apple Chancery", cursive;
   font-weight:500;
   
 }
h1
{
   font-size: 125px;
   font-family: 'Great Vibes', cursive;
   font-weight:595;
   transform: scale(1.003,1.6);
  text-shadow:5px 5px rgb(90, 180, 235),
		   1px 1px black;
}
.box
{
  position:absolute;
  float:right;
  top: 25%;
  width: 38%;
  
  height: 290px;
  width: 580px;
  left: 35%;
  background-color:rgb(26, 43, 82);
  transform: translateX(40%);
  z-index:200;
  text-align:right;
  font-size: 36px;
  } 
.line
{
   position:absolute;
  float:right;
  top: 5%;
  height: 19px;
  width: 100%;
  left: -40%;
  background-color:rgb(26, 43, 82);
  transform: translateX(40%);
  z-index:200;
}
.bbox
{
  position:absolute;
  float:right;
  top: 10%;
  width: 38%;
  border-style:dashed;
  height: 475px;
  width: 390px;
  left: 47%;
  background: rgba(49,48,25,.15);
  transform: translateX(40%);
  z-index:200;
  text-align:right;
  font-size: 36px;
   border-width:5px;
   border-color:rgb(128, 170, 255);
}
.bline
{
  position:absolute;
  top: 68%;
  height: 4px;
  width: 59.9%;
  left: -25.2%;
  background-color:rgb(137, 168, 243);
  border-style:double;
  border-width:1.3px;
   border-color:black;
  transform: translateX(40%);
  z-index:200;
}
img
{
   position:absolute;
   top: 6%;
   width:350px;
   height:415px;
   left: 5%;
   border: 1px solid rgb(128, 168, 255);
}
.sbox
{
   position:absolute;
  float:right;
  top: 7.2%;
  height: 28px;
  width: 220px;
  left:-3%;
  background-color:rgb(128, 170, 255);
  transform: translateX(40%);
  z-index:200;
  text-align:LEFT;
  font-size: 19px;
  color:black;
  font-family:cursive;
  font-weight:630;
  border-style:solid;
  border-width:3px;
  border-color:black;
}

.container
{
   margin:10;
   padding:0;
   left:-75%;
   top: 0%;
   background-color:white;
   position:relative;
   float:right;
   height: 60px;
   width:60px;
   display:flex;
   border-radius:50%; 
   align-items:center; 
   justify-content:center; 
   box-shadow: 0px 2px 2px 1px rgb(146, 185, 185);
   overflow:hidden;
}
a
{
   
   display:flex;
   font-size:36px;
   text-align:center;
   margin:10;
   position:relative;
   text-decoration:none;
   
}
.fa-github
{
   color:rgb(0, 0, 102);
}
.fa-instagram
{
   color:rgb(255, 0, 102);
}
.fa-linkedin
{
   color:rgb(0, 0, 204);
}
.fa-whatsapp
{
   color:green;
}

a i
{
  transition: all 0 linear;
}
a:hover .fa 
{
   transform:scale(1.1);
    color:white;  
}

.header a::before
{
   content:"";
   width:200%;
   height:200%;
   position:absolute;
   top:120%;
   left:-25%;
   background-color:rgb(46, 92, 184);
   transform:rotate(130deg);
}

.header a:hover::before
{
   animation: icons  1s ;
   animation-fill-mode: forwards;

}
@keyframes icons
{
   0%{top:60%; ;left: -50%;}
   50%{top:0; left:0%;}
   100%{top:0%; left:0%;}
}
.footer
{
   position:absolute;
   top:90%;
   background-color:black;
   text-align:right;
   font size:18;
   color:white;
   width:100%;
   left:0%;
}

#vd
{
  top:-10; 
  width:100%;
  height:100%;
  
}
<style type="text/css">
*{
  margin=0;
  padding=0;
}
   

.navbar {
  overflow: hidden;
  background-color: rgb(30, 43, 82);
  position: fixed;
  top:92%;
  width: 100%;
  left:0;
  height:8%;
  z-index:2000;
}

.navbar a {
  float: left;
  font-family:cursive;
  font-weight:600;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 8px;
  text-decoration: none;
  font-size: 14px;
}

.navbar a:hover {
  font-size:15px;
  color: rgb(90, 180, 235);
}


#home
{
    width:1349px;
   height:600px;  
}

#about
{
   background-image: url('ab.jpg');
   width:1349px;
   height:570px;
   margin-top:-50px;   
   
}

h3
{
   font-family:Lobster;
   font-size:40px;
   text-align:left;
   color:rgba(45, 45, 134,0.7);
   text-decoration:underline;

}

#edu
{
   background-image: url('edu.jpg');
   width:1349px;
   height:600px;   
   margin-top:-38px;
}  

.language
{
      background-color: rgba(45, 45, 134,0.3);
      width: 65%;
      border-radius: 15px;
      height:20px;
      margin-top:-35px;
      margin-bottom:45px;
}
      
        .lang 
         {
            background-color: darkblue;
            color: white;
            text-align: right;
            font-size: 17px;
            border-radius: 15px;
        }

.eng
{
   width:90%;
   height:20px;
   
}
.hindi
{
   width:95%;
   height:20px;
}
.german
{
   width:60%;
   height:20px;
   
}
.punj
{
   width:90%;
   height:20px;
}

table
{
    width:100%;

}

#skills
{
   background-color: rgb(30, 43, 82);
   width:1349px;
   height:580px;
   display:flex;
   min-height:100vh; 
}


   .all
   {
   display:flex;
   }

.circle-wrap
{
   display:grid;
   grid-template-columns: repeat(1,160px);
   grid-gap:80px;
   margin-top: -80px;
     margin-left:-100px;
   width:150px;
   height:150px;
   background-color:white;
   border-radius:50%;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill-1,
.circle-wrap .circle .fill-2,
.circle-wrap .circle .fill-4,
.circle-wrap .circle .fill-5,
.circle-wrap .circle .fill-6,
.circle-wrap .circle .fill-3 {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}
.mask .fill-1 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: rgb(253,122,34);
}

.mask.full-1,
.circle .fill-1 {
  animation: fill-1 ease-in-out 2s;
  transform: rotate(165deg);
}

@keyframes fill-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(331deg);
  }
}
.circle-wrap .inside-circle {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  background: #212020;
  line-height: 120px;
  text-align: center;
  margin-top: 13px;
  margin-left: 13px;
  color: white;
  position: absolute;
  z-index: 100;
  font-weight: 500;
  font-size: 1.3em;
  font-family:cursive;
}

.mask .fill-2 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: deeppink;
}

.mask.full-2,
.circle .fill-2 {
  animation: fill-2 ease-in-out 2s;
  transform: rotate(153deg);
}

@keyframes fill-2{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(306deg);
  }
}
.mask .fill-3 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #3BFF6E;
}

.mask.full-3,
.circle .fill-3 {
  animation: fill-3 ease-in-out 2s;
  transform: rotate(126deg);
}

@keyframes fill-3{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(252deg);
  }
}

.mask .fill-4 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #ECEC15;
}

.mask.full-4,
.circle .fill-4 {
  animation: fill-4 ease-in-out 2s;
  transform: rotate(171deg);
}

@keyframes fill-4{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(342deg);
  }
}
.mask .fill-5 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #FF8080;
}

.mask.full-5,
.circle .fill-5 {
  animation: fill-5 ease-in-out 2s;
  transform: rotate(158deg);
}

@keyframes fill-5{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(316deg);
  }
}

.mask .fill-6 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #B874DD;
}

.mask.full-6,
.circle .fill-6 {
  animation: fill-6 ease-in-out 2s;
  transform: rotate(141deg);
}

@keyframes fill-6{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(281deg);
  }
}

h4
{
   font-size:25;
   color:white;
   font-weight:10;
   top:5%;
}
#contact
{
   
   width:1349px;
   height:580px;
   min-height:100vh;
   align-items:center;
  margin-top:-35px;
}
.b
{
  position:absolute;
  top:216%;
  width: 8%;
  
  height:345px;
  width: 500px;
  left:17%;
  border-style:solid;
  border-width:2px;
  border-color:white;
  background-color:black;
  transform: translateX(40%);
  z-index:200;
  text-align:center;
  font-size: 36px;

}

.input{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    height: 270px;
    width: 500px;
    
}
.details{
    padding: 1rem 1 1rem 3rem;
    background-color: lightgrey;
    color: black;
    width: 50%;
    height: auto;
    font-size:16px;
    border: 0;
    text-decoration: none;
    margin-top: 0.5rem;
}
::placeholder{
    color: black;
}
.submitbtn{
    position: relative;
    left: 0px;
    cursor: pointer;
    width: 120px;
    height:32px;
    margin-top: 1.2rem;
    background-color:#123E83;
    color:white;
}

#copy
{
   width: 150px;
    height:30px;
    font-size:16px;
}
.con{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3%;
}

.bttn{
  background-color: black;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 1px 7px;
  height: 30px;
  width: 70px;
  color:white;
}
.btn:hover {
  opacity: 0.8;
}

.bn
{
   background-color: #6FA5F9;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 8px 7px;
  height: 23px;
  width:148px;
  color:black;
  left:-1100px;
  top:475px;
  font-size:18px;
  font-weight:620;
  
}

#ach
{
  background-image: url('ac1.jpg');
   width:1349px;
   height:530px;
   display:flex;
   min-height:100vh; 
}

h5
{
   position:absolute;
   font-family:Lobster;
   font-size:48px;
   text-align: center;
   color:deeppink;
   text-decoration:underline;  
  top:480%;
   left:38%;
}

.p1
{
  font-family:cursive;
  position:absolute;
  height:500px;
  width:450px;
  top:525%;
   left:7%;
  FONT-SIZE:17PX;
}

.p2
{
  font-family:cursive;
  position:absolute;
  height:500px;
  width:450px;
  top:525%;
   left:55%;
  FONT-SIZE:17PX;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 49px;
  right: 2.5px;
  z-index: 399;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 0;
  border-radius: 0;
  transition: all 0.5s;
  cursor: pointer;
  width:80px;
  height:30px;
  border-style:solid;
  border-width:1px;
  border-color:pink;
}



#myBtn:after {
  content: '^';
  position: absolute;
  opacity: 0;  
  top: 8px;
  right: -15px;
  transition: 0.5s;
}

#myBtn:hover{
  padding-right: 24px;
  padding-left:8px;
}

#myBtn:hover:after {
  opacity: 1;
  right: 10px;
}

p
{
   font-size: 21px;
   color:darkblue;
   margin-top:-20px;
   margin-bottom:-20px;
}

h6
{
  font-size: 18px;
  color:darkblue;
  margin-top:-20px;
  margin-bottom:50px;
}

h7
{
   color: #A8CAFF;
   font-size:55px;
   font-family:Lobster;
   text-align:left;
   text-decoration:underline;
}
